body,
html {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

/* Dark mode */
.dark-theme {
    background-color: #333;
    color: #ffffff;
}

.card {
    background-color: #d7d7d7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    width: 70vw;
    height: 70vh;
}

.dark-theme .card {
    background-color: #555;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 100;
    font-size: 5em;
    color: #343434;
}

.dark-theme .title {
    color: #d7d7d7;
}

.input-field input[type="search"] {
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    width: calc(100% - 5px);
    /* Adjusted width */
    font-size: 24px;
    /* Unchanged font size */
}

.btn {
    background-color: #007aff;
    padding: 20px 40px;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
    font-size: 24px;
    transition: background-color 0.4s;
}

.btn:hover {
    background-color: #094883;
}

/* Dark mode */
.btn .dark-theme {
    background-color: #005cb2;
}

.search-buttons {
    display: flex;
}

#toggleTheme {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
}