*{
    font-family: raleway;
    color: #595959;
}
.logo{
    font-size: 6em;
    flex:3;
    color: #595959;
    align-self: center;
    text-align: center;
}
.weather-deg,.weather-stat {
    color: #595959;
}
.darkmode .logo{
    font-size: 6em;
    flex:3;
    color: rgb(233, 233, 233);
    align-self: center;
    text-align: center;
}
@font-face {
    font-family: raleway;
    src: url(static/raleway.ttf);
}
body {
    display: flex;
    margin: 0;
    transition: 0.5s background-color;
}
.content{
    flex: 7;
    /*background-color: bisque;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;
    margin-top: 20vh;
}
.search {
    min-height: 2vh;
    width: 45vw;
    padding: 30px;
    margin: auto;
    position: relative;
    display: inline-block;
    border: 2px solid #595959;
    border-radius: 50px;
}

.search input {
    border: none;
    border-radius: inherit;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    min-width: 30vw;
}
.search-icon {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
}
.panel{
    padding:30px;
    width: 15vw;
    border-radius: 15px;
    border: 3px solid #595959;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.panelFather{
    display: flex;
    flex-direction: row;
}
.engines {
    border: none;
    background: none;
    margin: 15px;
    border-radius: 14px;
    font-size: 1.2em;
    transition: 0.1s background-color;
}

.engines.active {
    border: 2px solid #595959;
}

.engines:hover {
    background-color: #aeaeae;
}
.weather-deg{
    font-size: 30px;
    font-weight: 600;
}
.dark{
    background-color: #292929;
}

.dark .logo {
    color: rgb(231, 231, 231);
}
.dark .weather-deg{
    color: rgb(231, 231, 231);
}
.dark .weather-stat {
    color: rgb(231, 231, 231);
}
.dark .engines {
    color: rgb(231, 231, 231);
}
.dark .panel,.search{
    border: 3px solid #c3c3c3;
}
.dark h2{
    color: rgb(231, 231, 231);
}
.dark .searchinput{
    background-color: #292929;
}
.dark .themebtn{
    background-color: #292929;
}
.themebtn{
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 4em;
    width: 4em;
    left: 4vw;
    top: 8vh;
    border: none;
    border-radius: 50%;
}